/* 
File: Navbar.css
Author: Lex Albrandt, Lucas Cook
Purpose: CSS styling for React Navbar component
 */

.navbar {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
	background: #185fa5;
	position: sticky;
	top: 0;
	box-shadow: 0 5px 5px black;
}

.navbar-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: .2rem 2rem;
	position: relative;
}

.navbar-title {
	font-family: "Nunito", sans-serif;
	color: rgb(250, 250, 250);
	font-size: 2.4rem;
	font-weight: 700;
	margin: 0;
}

.navbar-subtitle {
	font-family: "Nunito", sans-serif;
	color: rgb(250, 250, 250);
	font-size: 1.2rem;
	margin: 0.25rem 0 0 0;
	opacity: 0.9;
}

/* Hamburger menu button */
.navbar-toggle {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 20px;
	width: 26px;
	background: transparent;
	padding: 0;
	border: none;
	cursor: pointer;
}

.bar {
	display: block;
	width: 100%;
	height: 2px;
	background-color: rgba(240, 240, 240, 0.8);
}

/* Transform the bars into an "X" when the menu is active */
.navbar-toggle.open .bar:first-child {
	transform: rotate(45deg) translate(6px, 6px);
}
.navbar-toggle.open .bar:nth-child(2) {
	opacity: 0;
}
.navbar-toggle.open .bar:last-child {
	transform: rotate(-45deg) translate(6px, -6px);
}

/* Navbar menu */
.navbar-container .navbar-menu {
	position: absolute;
	top: 100%;
	margin-top: -1rem;
	right: 0.1rem;
	background-color: rgba(240, 240, 240, 0.8);
	border-radius: 1.5rem;
	width: 200px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease;
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

.navbar-container .navbar-menu li {
	display: block;
	padding: 16px 24px;
	text-align: center;
	font-size: 1.2rem;
	font-weight: 500;
	color: rgb(0, 0, 0);
	cursor: pointer;
}

.navbar-container .navbar-menu li a {
	text-decoration: none;
	color: inherit;
	display: block;
	width: 100%;
	height: 100%;
}

.navbar-container .navbar-menu.active {
	max-height: 400px;
}

.navbar-container .navbar-menu li:hover {
	background-color: rgba(0, 0, 0, 0.08);
}