/* File: LearnMore.css
   Author: Lex Albrandt
   Purpose: CSS code for the learn more section
*/

.lm-header {
	font-family: Roboto;
	font-weight: 600;
	margin-left: 1rem;
}
.learn-more-container {
	margin: 3rem auto 0;
	width: min(100%, 48rem);
}

.accordion-button {
	font-weight: 600;
}

.pm-graphic {
	margin-top: 1rem;
	width: 100%;
	height: auto;
	border: 1px solid black;
}

.img-cap {
	font-size: 0.85rem;
	font-style: italic;
}

.aqi-table {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	border: 1px solid black;
}

.table-row-header {
	font-weight: 600;
}

.learn-more-container .aqi-table .table-cell {
	color: black;
	border: 1px solid black;
	text-align: center;
}

.table-row-good.cat {
	background: var(--color-aqi-good);
}

.table-row-mod.cat {
	background: var(--color-aqi-mod);
}

.table-row-unhealthy-sensitive.cat {
	background: var(--color-aqi-unhealthy-sens);
}

.table-row-unhealthy.cat {
	background: var(--color-aqi-unhealthy);
}

.table-row-v-unhealthy.cat {
	background: var(--color-aqi-v-unhealthy);
}

.table-row-hazardous.cat {
	background: var(--color-aqi-haz);
}

@media (min-width: 768px) {
	.learn-more-container {
		margin: 3rem auto;
	}
}
